.create__form {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create__title {
    margin-bottom: 30px;
}

.create__control {
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 18px;
    width: 250px;
}

.form-group {
    margin-bottom: 30px;
}

.create__submit  {
    padding: 10px 15px;
    background-color: #ff8229;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
}

.create__submit:enabled:hover {
    box-shadow: 0 0 10px #ff8229;
}

.create__submit:disabled {
    opacity: 0.5;
}

input[type=file] {
    display: none;
}

.create__image-upload {
    background-color: #ff8229;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px 15px;
    margin-bottom: 30px;
}

.create__image-upload:hover {
    background-color: #ff6700;
}