<div class="create">
    <div class="container">
        <form class="create__form" [formGroup]="form" (ngSubmit)="createLot()">
            <h1 class="create__title">Enter lot data</h1>
            <div class="form-group">
                <input class="create__control create__name"
                       type="text" formControlName="name"
                       name="name"
                       placeholder="Lot name">
                <p class="error-label"
                   *ngIf="form.get('name')?.invalid && form.get('name')?.touched">This field must be 5-30 chars</p>
            </div>
            <div class="form-group">
                <input class="create__control create__description"
                       type="text"
                       formControlName="description"
                       name="description"
                       placeholder="Lot description">
                <p class="error-label"
                   *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
                    This field must be 10-250 chars
                </p>
            </div>
            <div class="form-group">
                <input class="create__control create__price"
                       type="number"
                       step=".01"
                       formControlName="initialPrice"
                       name="initialPrice"
                       placeholder="Lot price">
                <p class="error-label"
                   *ngIf="form.get('price')?.invalid">Value must be >= 1</p>
            </div>
            <div class="form-group">
                <input class="create__control create__sale-end"
                       type="datetime-local"
                       formControlName="saleEndTime"
                       name="saleEndTime"
                       placeholder="Sale end time">
                <p class="error-label"
                   *ngIf="form.get('sale-end')?.invalid && form.get('sale-end')?.touched">Provide a valid date</p>
            </div>
            <div class="form-group">
                <input class="create__control create__quantity"
                       type="number"
                       formControlName="quantity"
                       name="quantity"
                       placeholder="Quantity">
                <p class="error-label"
                   *ngIf="form.get('quantity')?.invalid">
                    Value must be greater than 0
                </p>
            </div>
            <div class="form-group">
                <select class="create__control create__category-select"
                        formControlName="categoryId"
                        name="categoryId">
                    <option ngValue="" disabled>Choose category...</option>
                    <option *ngFor="let category of categories" [ngValue]="category.id">
                        {{category.name}}
                    </option>
                </select>
            </div>
            <label class="create__image-upload">
                <input #fileInput name="file"
                       type="file"
                       accept="image/png, image/jpeg">
                Upload new image
            </label>
            <input class="create__submit" type="submit" value="Submit" [disabled]="form.invalid">
        </form>
    </div>
</div>
