.profile {
    padding-top: 100px;
}

.profile__inner {
    display: flex;
    justify-content: space-around;
}

.profile__col1,
.profile__col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    object-position: center center;
    object-fit: cover;
    margin-bottom: 30px;
    border: 1px solid black;
}

.profile__userName {
    font-size: 24px;
    font-weight: bold;
}

.profile__tab {
    font-size: 20px;
    cursor: pointer;
}

.profile__tab:not(:last-child) {
    margin-right: 130px;
}

.profile__content {
    width: 100%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__container {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #e3e3e3;
    padding: 15px;
    border-radius: 10px;
}

.profile__name {
    font-size: 20px;
    color: #5e77ff;
    padding-bottom: 3px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: transparent;
    width: 25%;
}

.profile__name:hover {
    color: #0046ff;
    border-color: #0046ff;
}

.profile__delete {
    width: 50px;
    height: 50px;
}

.profile__delete:hover {
    background-color: #ff7777;
}

.profile__value {
    font-size: 18px;
    color: red;
    width: 25%;
}

.profile__bids {
    width: 100%;
}

.tab-active {
    color: #ff6700;
}