<div class="nav-wrapper">
    <div class="container">
        <nav class="nav">
            <a class="nav__logo-small" routerLink="/">A</a>
            <a class="nav__logo" routerLink="/">Auction</a>
            <input type="text" class="nav__search-bar"
                   [(ngModel)]="searchValue"
                   placeholder="I'm searching for..."
                   (keyup.enter)="searchForLots()">
            <div class="nav__auth" *ngIf="!currentUser">
                <a class="nav__auth-button" routerLink="/auth/sign-in">Sign in</a>
                <a class="nav__auth-button" routerLink="/auth/sign-up">Sign up</a>
            </div>
        </nav>
    </div>
</div>