.nav-wrapper {
    background-color: #000;
    padding: 20px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.nav__logo-small {
    display: none;
}

.nav__logo-small,
.nav__logo {
    font-weight: bold;
    font-size: 35px;
    color: #ff8229;
}

.nav__search-bar {
    padding: 10px 15px 10px 50px;
    font-size: 18px;
    background-image: url('src/assets/images/search.png');
    background-repeat: no-repeat;
    background-position: -45px center;
    background-origin: content-box;
    background-size: 30px;
    border-radius: 15px;
    width: 50%;
}

.nav__auth-button {
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.nav__auth-button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.nav__auth-button:not(:last-child) {
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .nav__logo {
        display: none;
    }

    .nav__logo-small {
        display: block;
    }

    .nav__search-bar {
        width: 80%;
    }
}