.sign-in__container {
    height: 100%;
    background: linear-gradient(45deg, #648cf6 23%, #4761d5 59%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 400%;
    animation: background 10s ease infinite;
    flex-direction: column;
}

.user-name-input,
.password-input {
    margin-bottom: 10px;
}

.form-group:first-of-type {
    margin-bottom: 40px;
}

.form-group:last-of-type {
    margin-bottom: 50px;
}

.sign-up {
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    padding: 20px 15px;
    text-align: center;
    font-size: 20px;
    border: 3px solid #ffed77;
}

.sign-up__new {
    margin-right: 15px;
}

.sign-up__ref {
    color: #00DBDE;
}

@keyframes background {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@media screen and (max-width: 414px) {
    .sign-up__ref {
        font-size: 18px;
    }

    .sign-up__new {
        font-size: 18px;
    }

    .sign-up {
        padding: 15px 10px;
    }
}
