.categories {
    margin-bottom: 100px;
}

.categories__inner {
    display: flex;
    justify-content: center;
}

.categories__link {
    flex: 1 1 0;
    background-color: #e5e5e5;
    padding: 20px;
    text-align: center;
}

.categories__link:hover {
    background-color: #c5c5c5;
    cursor: pointer;
}

.categories__link:not(:last-child) {
    margin-right: 5px;
}

.lots__inner {
    display: flex;
    flex-direction: column;
}

.lot {
    display: flex;
    margin-bottom: 20px;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 20px 15px;
}

.lot:last-of-type {
    margin-bottom: 50px;
}

.lot__image {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.lot__line {
    background-color: #a4a4a4;
    width: 1px;
    margin-right: 20px;
}

.lot__data {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    text-align: center;
}

.lot__col1,
.lot__col2 {
    display: flex;
    flex-direction: column;
}

.lot__name {
    font-size: 22px;
    color: #376fff;
    margin-bottom: 15px;
}

.lot__currentPrice {
    margin-bottom: 20px;
}

pagination-controls {
    align-self: center;
    font-size: 18px;
}