.categories {
    margin-bottom: 100px;
}

.categories__inner {
    display: flex;
    justify-content: center;
}

.categories__link {
    flex: 1 1 0;
    background-color: #e5e5e5;
    padding: 20px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.categories__link:hover {
    background-color: #c5c5c5;
    cursor: pointer;
}

.categories__link:not(:last-child) {
    margin-right: 5px;
}

.filters {
    margin-bottom: 30px;
}

.filters__form {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding-left: 35px;
}

.filters__label {
    margin-right: 15px;
    font-weight: bold;
}

.filters__minPrice,
.filters__maxPrice {
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 5px;
}

.filters__minPrice {
    margin-right: 25px;
}

.filters__maxPrice {
    margin-right: 30px;
}

.filters__order {
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin-right: 30px;
}

.lots__inner {
    display: flex;
    flex-direction: column;
}

.lot {
    display: flex;
    margin-bottom: 20px;
    background-color: #e7e7e7;
    border-radius: 5px;
    padding: 20px 15px;
}

.lot:last-of-type {
    margin-bottom: 50px;
}

.lot__image {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.lot__line {
    background-color: #a4a4a4;
    width: 1px;
    margin-right: 20px;
}

.lot__data {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}

.lot__col1,
.lot__col2 {
    display: flex;
    flex-direction: column;
}

.lot__col2 {
    text-align: right;
}

.lot__name {
    font-size: 22px;
    color: #376fff;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 3px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: transparent;
}

.lot__name:hover {
    color: #0046ff;
    border-color: #376fff;
}

.lot__currentPrice {
    margin-bottom: 20px;
}

pagination-controls {
    align-self: center;
    font-size: 18px;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.not-found__smile {
    font-size: 50px;
    margin-bottom: 30px;
}

.not-found__text {
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .filters__form {
        justify-content: center;
    }

    .filters__maxPrice,
    .filters__minPrice,
    .filters__order {
        margin-right: 20px;
        width: 100px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .categories__inner {
        flex-wrap: wrap;
    }

    .categories__link {
        width: 25%;
        flex: auto;
        margin-bottom: 5px;
    }

    .filters__form {
        flex-direction: column;
        padding: 0;
    }

    .filters__label {
        margin-bottom: 15px;
    }

    .filters__maxPrice,
    .filters__minPrice,
    .filters__order {
        margin: 0 0 20px 0;
    }

    .lot__image {
        width: 60px;
        height: 60px;
    }

    .lot__name {
        font-size: 18px;
    }

    .lot__saleTime {
        font-size: 16px;
    }

    .lot__col2 {
        font-size: 14px;
    }

    .not-found__text {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    .lot {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .lot__name {
        font-size: 14px;
    }

    .lot__saleTime {
        font-size: 14px;
    }

    .lot__image {
        width: 50px;
        height: 50px;
        margin: 0 0 10px 0;
    }

    .lot__line {
        display: none;
    }

    pagination-controls {
        font-size: 14px;
    }
}

@media screen and (max-width: 414px) {
    .categories__link {
        padding: 10px;
    }

    .not-found__text {
        font-size: 20px;
    }
}


