@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body {
    height: 100vh;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

input {
    border: none;
    outline: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}