* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

input {
    border: none;
    outline: none;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}