.sign-in {
    font-size: 22px;
    align-self: flex-end;
    margin: 0 50px 15px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}

.form-input {
    margin-bottom: 5px;
}

.sign-in-ref {
    padding-left: 10px;
    color: #00DBDE;
}

.form-group {
    margin-bottom: 30px;
}

.form-group:last-of-type {
    margin-bottom: 50px;
}

@media screen and (max-width: 1024px) {
    .sign-in {
        align-self: center;
        margin-right: 0;
        text-align: center;
    }
}